<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>退单拒绝反馈</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/staticRes/layui/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/staticRes/layui/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <input hidden type="text" name="orderId" th:value="${orderId}">
    <div class="layui-form-item">
        <label class="layui-form-label required">拒绝原因</label>
        <div class="layui-input-block">
            <input type="text" name="handleNode" lay-verify="required" lay-reqtext="拒绝原因不能为空" placeholder="请输入拒绝原因" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">提交</button>
        </div>
    </div>
</div>
<script th:src="@{/staticRes/layui/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">
    let contextPath = [[@{/}]];


    layui.use(['upload', 'element', 'layer'], function(){
        var $ = layui.jquery
            ,upload = layui.upload
            ,element = layui.element
            ,layer = layui.layer
            ,form = layui.form;


        //监听提交
        form.on('submit(saveBtn)', function (data) {

            $("#savebtn").attr('disabled','disabled').addClass("layui-btn-disabled")
            $.ajax({
                url: contextPath+"seller/order/returnApply/refuse",
                type: "post",
                data: {
                    orderId: data.field.orderId,
                    handleNote: data.field.handleNode
                },
                resultType: "json",
                success: function (response) {
                    if (response.code == 0){
                        layer.msg(response.msg,{icon:1,time: 1000},function () {
                            parent.reset();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    }else {
                        layui.layer.msg(response.msg,{icon:2,time:1500});
                        $("#savebtn").removeClass("layui-btn-disabled").removeAttr('disabled','disabled')
                    }
                }
            });

            return false;
        });

    });
</script>
</body>
</html>