<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>订单退款申请列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/staticRes/layui/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/staticRes/layui/css/public.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">订单编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="orderId" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button id="research" type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                        <div class="layui-inline">
                            <button id="refresh" onclick="reset()" type="submit" class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-refresh"></i> 刷 新</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

<!--        <script type="text/html" id="toolbarDemo">-->
<!--            <div class="layui-btn-container">-->
<!--                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>-->
<!--                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>-->
<!--            </div>-->
<!--        </script>-->

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit"> 详情 </a>
            {{#  if(d.status == 0){  }}
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="agree"> 同意 </a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="refuse"> 拒绝 </a>
            {{#  }  }}
        </script>
    </div>
</div>
<script th:src="@{/staticRes/layui/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/staticRes/layui/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">
    function reset(){
        $('input').attr("value","");
        $('#isValid').val("");
        refresh();
    }

    function refresh(){
        $('#research').click();
    }



    let contextPath = [[@{/}]];


    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: contextPath+'seller/order/returnApply/list',
            toolbar: '#toolbarDemo',
            cellMinWidth: 80,
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                {type: "checkbox", width: 50},
                {field: 'orderId', width: 100, title: '订单编号', sort: true},
                {field: 'username', width: 120, title: '退单用户'},
                {field: 'totalAmount', width: 130, title: '订单总价'},
                {field: 'returnReason', width: 160, title: '退单原因'},
                {field: 'handleNote', title: '处理备注', width: 250, templet:function (d) {
                        if (d.handleNote == null) return "未留备注";
                        else return d.handleNote;
                    }},
                {title: '操作', toolbar: '#currentTableBar', align: "center"}
            ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    orderId: data.field.orderId
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var index = layer.open({
                    title: '订单详情',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['50%', '90%'],
                    content: contextPath+'seller/orderdetail.html?orderId='+data.orderId,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            }else if (obj.event === 'agree') {
                layer.confirm('是否确认?', {icon: 3, title: '确认取消'}, function (index) {
                    var url = contextPath + 'seller/returnOrder/' + data.orderId;
                    $.post(url, function (response) {
                        if (response.code === 0){
                            layer.msg(response.msg, {icon: 1, time: 1500});
                            reset();
                        }else {
                            layer.msg(response.msg, {icon: 2, anim: 6});
                        }
                    });
                    layer.close(index);
                });
            }else if (obj.event === 'refuse') {
                var index = layer.open({
                    title: '退单反馈',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['50%', '40%'],
                    content: contextPath+'seller/refuseorder.html?orderId='+data.orderId,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            }
        });
    });
</script>

</body>
</html>