<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>东方学院二手美妆商场</title>
    <link rel="stylesheet" type="text/css" th:href="@{/staticRes/front/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/staticRes/front/css/proList.css}"/>
</head>
<body><!------------------------------head------------------------------>
<div class="head" th:replace="buyer/common :: header"></div>
<!-----------------address------------------------------->
<div class="address">
    <div class="wrapper clearfix"><a th:href="@{/mzmall/index.html}">首页</a><span>/</span><span th:text="${category.categoryName}"></span>
    </div>
</div>
<!----------------proList------------------------->
<ul class="proList wrapper clearfix">
    <li th:each="goods : ${goodsList}">
        <a th:href="@{'/mzmall/detail?goodsid='+${goods.goodsId}}">
            <dl>
                <dt><img th:src="@{'/mzmall/img/cover/'+${goods.cover}}"/></dt>
                <dd th:text="${goods.goodsName}"></dd>
                <dd><span th:text=" '￥' + ${goods.price}"></span></dd>
            </dl>
        </a>
    </li>
</ul>
<!--返回顶部-->
<div class="gotop" th:replace="buyer/common :: rightTool"></div>
<!--<div class="msk"></div>-->
<!--footer-->
<div class="footer" th:replace="buyer/common :: footer"></div>
<script th:src="@{/staticRes/front/js/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/staticRes/front/js/public.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/staticRes/front/js/nav.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/staticRes/front/js/pro.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/staticRes/front/js/cart.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>