<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>东方学院二手美妆商场</title>
    <link rel="stylesheet" type="text/css" th:href="@{/staticRes/front/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/staticRes/front/css/mygrxx.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/staticRes/layui/lib/layui-v2.6.3/css/layui.css}"/>
</head>
<body><!------------------------------head------------------------------>
<div class="head" th:replace="buyer/common :: headerforuserinfo"></div>
<!------------------------------idea------------------------------>
<div class="address">
    <div class="wrapper clearfix">
        <a th:href="@{/mzmall/index.html}" class="fl">首页</a>
        <span>/</span>
        <a href="#" class="on">个人信息</a>
    </div>
</div>
<!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div class="zuo fl" th:replace="buyer/common :: infoLeftMenu"></div>
        <div class="you fl"><h2>修改密码</h2>
            <form class="remima">
                <p><span>原密码：</span><input style="border: 1px solid #e0e0e0;display: inline-block;width: 240px;height: 30px;line-height: 30px;text-indent: 10px;" id="oldPassword" type="password"/></p>
                <p class="op">输入原密码</p>
                <p><span>新密码：</span><input style="border: 1px solid #e0e0e0;display: inline-block;width: 240px;height: 30px;line-height: 30px;text-indent: 10px;" id="newPassword" type="password"/></p>
                <p class="op">8-16 个字符，需使用字母、数字或符号组合，不能使用纯数字、纯字母、纯符号</p>
                <p><span>重复新密码：</span><input style="border: 1px solid #e0e0e0;display: inline-block;width: 240px;height: 30px;line-height: 30px;text-indent: 10px;" id="reNewPassword" type="password"/></p>
                <p class="op">请再次输入密码</p>
                <input id="subBtn" type="submit" value="提交"/>
            </form>
        </div>
    </div>
</div><!--返回顶部-->
<div class="gotop" th:replace="buyer/common :: rightTool"></div>
<!--footer-->
<div class="footer" th:replace="buyer/common :: footer"></div>


<script th:src="@{/staticRes/front/js/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/staticRes/layui/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/staticRes/front/js/public.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/staticRes/front/js/user.js}" type="text/javascript" charset="utf-8"></script>

<script th:inline="javascript">
    let contextPath = [[@{/}]];

    $('#subBtn').click(function () {
        $("#subBtn").attr("disabled", "disabled")
        let oldPassword = $('#oldPassword').val()
        let newPassword = $('#newPassword').val()
        let reNewPassword = $('#reNewPassword').val()
        if (oldPassword == '') {
            layui.layer.msg("原密码不能为空",{icon:2,time:1500});
            $("#subBtn").attr("disabled",false);
            return false
        }
        if (newPassword == '') {
            layui.layer.msg("新密码不能为空",{icon:2,time:1500});
            $("#subBtn").attr("disabled",false);
            return false
        }
        if (newPassword.length<8){
            layui.layer.msg("密码长度不小于8位",{icon:2,time:1500});
            $("#subBtn").attr("disabled",false);
            return false;
        }
        if (newPassword != reNewPassword) {
            layui.layer.msg("两次密码输入不一致",{icon:2,time:1500});
            $("#subBtn").attr("disabled",false);
            return false;
        }
        $.ajax({
            url: contextPath+"mzmall/user/updatepassword",
            type: "post",
            data: {
                oldpassword: oldPassword,
                newpassword: newPassword
            },
            resultType: "json",
            success: function (response) {
                if (response.code === 0){
                    layui.layer.msg("密码修改成功",{icon:1,time:1500});
                    window.location.href="http://localhost:8080/mzmall/index.html";
                }else {
                    layui.layer.msg(response.msg,{icon:2,time:1500});
                    $("#subBtn").attr("disabled",false);
                }
            }
        });
        return false;
    });

    $('#logoutBtn').click(function () {
        $("#logoutBtn").attr("disabled", "disabled");
        $.ajax({
            url: contextPath+"mzmall/user/logout",
            type: "post",
            resultType: "json",
            success: function (response) {
                if (response.code === 0){
                    window.location.href="http://localhost:8080/mzmall/login";
                }else {
                    layui.layer.msg(response.msg,{icon:2,time:1500});
                    $("#logoutBtn").attr("disabled",false);
                }
            }
        });
    })

</script>

</body>
</html>