<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjr.mzmall.mapper.ComplaintMapper">
    <select id="getComplaintList" resultType="com.xjr.mzmall.DO.ComplaintOrderDo">
        select id,order_id,complaint_reason,create_time,status,username,user_phone from complaint
        <where>
            <if test="orderId != null">
                order_id= #{orderId}
            </if>
        </where>
    </select>
</mapper>
